@font-face {
  font-family: 'titel';
  src: url ('../fonts/helvetica_rounded_bold-webfont.woff')format('woff');
  
  font-style: normal;
}


/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  height: 100%; 
  width: 100%; 
  padding:0;
  margin:0;
  overflow: hidden; 
  display:grid;
  place-items:center center;
  background-color: #ffc80b;
}

button:not([disabled]) {
  cursor:pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
}


/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
  font-family: 'titel';
}

main {
  height: 100vh;
  display:flex;
  /* justify-content:center; */
  /* align-items:center; */
  margin:0;
}

article {
  margin-top: 5em;
  width:24em;
  height:28em;
  top:2em;
  background-color: #00712a;
  border: 2px solid black;
  position: relative;
  justify-content:center;
  align-items:center;
}

section:nth-of-type(1) ul{
  list-style: none;
  /* margin: none; */
  /* position: relative; */
  padding: 0%;
  top:-50%;
  /* width:26em; */
}

section:nth-of-type(1) {
  position: absolute;
  margin:0;
  top: -1.5em;
  left: -1.1em;
  justify-content:center;
  align-items:center;
}


section:nth-of-type(1) ul li:first-of-type{
  width: 26em;
  height: 1em;
  background-color: #00712a;
  border: 2px solid black;
  /* text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; */
  /* top:-.4em; */
  /* outline: 2px solid black;
  outline-offset: -2px; */
}

section:nth-of-type(1) ul li:last-of-type{
  position: absolute;
  width: 25em;
  height:1.5em;
  background-color: #00712a;
  outline: 2px solid black;
  /* zorgt ervoor dat de border buiten het element 
  zit en hierdoor niet overlapt met de border van kastbovenboven*/
  /* text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; */
  left: .4em;
}

/* section.kastonder {
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  top: 27.5em;
  left: -.6em;
  width: 25em;
  height:1.5em;
  justify-content:center;
  align-items:center;
} */

/* kastonder */
section:nth-of-type(2) {
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  top: 27.5em;
  left: -.6em;
  width: 25em;
  height:1.5em;
  justify-content:center;
  align-items:center;
}


/* section.deurlinks {
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  width: 7.5em;
  height:25em;
  top: 3.1em;
  left: -7.5em;
  transform: rotate(-9deg) skew(-9deg, -3deg);
} */

/* deur links */
section:nth-of-type(3){
  /* margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  width: 7.5em;
  height:25em;
  top: 3.1em;
  left: -7.5em;
  transform: rotate(-9deg) skew(-9deg, -3deg); */
  z-index: 2;
  margin:0;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 12.15em;
  height:25.5em;
  top: 2em;
  left:-.05em;
/* Docent geholpen van 184 tot 188 - met 184 zorgt ervoor dat 
die kant vast staat wanneer het element wordt gedraaid */
  transform-origin: left center;
  transition: 1s;
  transform-style: preserve-3d;
  display:grid;
  place-items: center;
}

.linkerdeurOpen{
  transform: rotateY(-135deg) translateZ(0px) translateX(0px) translateY(0px) skewY(15deg);
}

/* binnenkant */
section:nth-of-type(3) div:nth-of-type(1){
  position:absolute;
  z-index: 3;
  /* background-color: #8f1b60; */
  box-shadow: inset 0 0 0 2px black;
  /* border: solid 2px black; */
  width: 7.5em;
  height:20em;
  top:2.7em;
  backface-visibility: hidden;
}

/* bovenkant */
section:nth-of-type(3) div:nth-of-type(2) {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:.5em;
  transform-origin: center top;
  transform:rotateX(90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}

/* zijkant */
section:nth-of-type(3) div:nth-of-type(3) {
  position:absolute;
  top:-.2em;
  right:-1em;
  height:100%;
  width:.5em;
  transform-origin: left center;
  transform:rotateY(90deg);

  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}

/* achterkant */
section:nth-of-type(3)div:nth-of-type(4) {
  position:absolute;
  inset:0;
  transform:translateZ(-.5em);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}



/* kast diepte */
section:nth-of-type(4){
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 1.5px solid black;
  width: 20em;
  height:25.3em;
  top: 2.1em;
  left:2em;
}
/* section.deurrechts {
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  width: 7.5em;
  height:20em;
  top: 5em;
  right: 2em;
} */

/* rechterdeur */
/* section:nth-of-type(6){
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  width: 12em;
  height:25.3em;
  top: 2.1em;
  left:12em;
}

section:nth-of-type(6):hover {
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  width: 7.5em;
  height:25em;
  top: 3em;
  left:23.8em;
  transform: rotate(9deg) skew(9deg, 3deg);
} */



/* planken */
section:nth-of-type(5) ul {
  list-style: none;
  padding: 0%;
}
section:nth-of-type(5) ul li{
  margin:0;
  position: absolute;
  background-color: #00712a;
  outline: 2px solid black;
  width: 23.5em;
  height:.5em;
}
section:nth-of-type(5) ul li:nth-of-type(1){
  top: 6em;
}
section:nth-of-type(5) ul li:nth-of-type(2){
  top: 10em;
}
section:nth-of-type(5) ul li:nth-of-type(3){
  top: 14.5em;
}
section:nth-of-type(5) ul li:nth-of-type(4){
  top: 19em;
}
section:nth-of-type(5) ul li:last-of-type{
  top: 23.3em;
}

section:nth-of-type(6) {
  z-index: 2;
  margin:0;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 12.15em;
  height:25.5em;
  top: 2em;
  right:-.2em;
/* Docent geholpen van 274 tot 279 - met 271 zorgt ervoor dat 
die kant vast staat wanneer het element wordt gedraaid */
  transform-origin: right center;
  transition: 1s;
  transform-style: preserve-3d;
  display:grid;
  place-items: center;
}

.rechterdeurOpen{
  transform: rotateY(135deg) translateZ(0px) translateX(0px) translateY(0px) skewY(-15deg);
}


/* binnenkant */
section:nth-of-type(6) div:nth-of-type(1) {
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 7.5em;
  height:20em;
  top:2.7em;
  backface-visibility: hidden;
}

/* bovenkant */
section:nth-of-type(6) div:nth-of-type(2) {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:.5em;
  transform-origin: center top;
  transform:rotateX(-90deg);

  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}

/* zijkant */
section:nth-of-type(6) div:nth-of-type(3) {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:.5em;
  transform-origin: left center;
  transform:rotateY(90deg);

  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}

/* achterkant */
section:nth-of-type(6) div:nth-of-type(4) {
  position:absolute;
  inset:0;
  transform:translateZ(-.5em);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}

/* papier */
/* section:nth-of-type(6) div:nth-of-type(5){
  margin:0;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  z-index: 4;
  width:8.5em;
  height:6em; 
  top: 4em;
  right: 1.7em;
} */


/* section:nth-of-type(6) div:nth-of-type(6){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:5em;
  left: 2.7em;
} */

/* pin 2 */
/* section:nth-of-type(6) div:nth-of-type(7){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:5em;
  right: 2.7em;
} */

/* deurklink */
section:nth-of-type(6) button{
  margin:0;
  position: absolute;
  border-radius: 50%;
  background-color:#ffc80b;
  /* background-color: white; */
  box-shadow: inset 0 0 0 1px black;
  width:1.5em;
  height: 1.5em;
  top: 16em;
  left: .8em;
  padding:0;
  backface-visibility: hidden;
}

section:nth-of-type(7){
  position: absolute;
  z-index: -1;
  margin: 0;
  background-image: url(../images/nijntjeverstopt.svg);
	background-repeat: no-repeat;
	background-size: contain;
  width:3em;
  height: 6em;
  top: 17em;
  right: -1.4em;
  animation: verstoppertje 6s .5s infinite ease-in forwards;
  /* transition: 3s; */
}

section:nth-of-type(8){
  margin:0;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  z-index: 4;
  width:10em;
  height:8em; 
  top: 3em;
  right:-20em;
  border-radius: 2%;
}

/* pin 1 */
section:nth-of-type(8) div:nth-of-type(1){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1.5em;
  left: 1em;
}

/* pin 2 */
section:nth-of-type(8) div:nth-of-type(2){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1.5em;
  right: 1em;
}
section:nth-of-type(8) div:nth-of-type(3){
  margin:0;
  z-index: 5;
  position: absolute;
  top:2em;
  left: 1.4em;
}

/* section:nth-of-type(9){

} */

@keyframes verstoppertje{
  0% {transform: translateX(-1em); }
  70% {transform: translateX(1em); }
  90% {transform: translateX(.8em); }
  /* 90% {transform: translateX(-3em);} */
  100% {transform: translateX(-1em); }
}

/* section:nth-of-type(7) div:nth-of-type(2){
  margin:0;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  z-index: 5;
  width:8.5em;
  height:6em; 
  top: 6em;
  right: 1.7em;
}

section:nth-of-type(7) div:nth-of-type(2){
  margin:0;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1em;
  left: 1em;
}

section:nth-of-type(7) div:nth-of-type(3){
  margin:0;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1em;
  right: 1em;
} */












/* button{
  content:"";
  margin:0;
  position: absolute;
  border-radius: 100%;
  background-color:#ffc80b;
  outline: 2px solid black;
  width:5em;
  height: 5em;
  top: 18em;
  right: 12.3em;
} */


/* li {
  background: pink;
  position: absolute;
  
}

li:nth-of-type(2) {
  background: powderblue;
}

li:nth-of-type(3) {
  background: purple;
}

li:nth-of-type(4) {
  background: royalblue;
}
li:nth-of-type(5) {
  background: palevioletred;
}

li:last-of-type {
  background: crimson;
} */
/* ... */


