@font-face {
  font-family: 'titel';
  src: url('../fonts/helvetica_rounded_bold-webfont.woff') format('woff');
  font-style: normal;
}


/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box; 
  margin:0;
  padding:0;
}

body {
  height: 100%; 
  width: 100%; 
  padding:0;
  margin:0;
  overflow: hidden; 
  display:grid;
  place-items:center center;
  /* background-color: #ffc80b; */
}

button:not([disabled]) {
  cursor:pointer;
}

button {
  padding:0;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson
  --titel-font:'titel'
}


/********************/
/* ALGEMENE STYLING */
/********************/

h4 {
  color:var(--color-headings);
  font-family: 'titel';
}

main {
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  margin:0;
  width: 100%;
}

article:first-of-type {
  
  width:24em;
  height:25em;
  top:2em;
  background-color: #00712a;
  /* border: 2px solid black; */
  box-shadow: inset 0 0 0 2px black;
  position: relative;
}

article:first-of-type section:nth-of-type(1) {
  position: absolute;
  bottom:calc(100% - 2px);
  left:0;
  width:100%;
}

section:nth-of-type(1) ul{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  align-items:center;
}

section:nth-of-type(1) ul li:first-of-type{
  width: 26em;
  height: 1em;
  background-color: #00712a;

  box-shadow: inset 0 0 0 2px black;
}

section:nth-of-type(1) ul li:last-of-type{
  width: 25em;
  height:1.5em;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  margin-top:-2px;
}

/* kastonder */
article:first-of-type section:nth-of-type(2) {
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  /* kast onder zit tegen article aan met min 2 px vanwege de box schadow */
  top: calc(100% - 2px);
  left: -.5em;
  width: 25em;
  height:1.5em;
}

/* deur links */
section:nth-of-type(3){
  z-index: 2;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  /* de breedte van de deur plus 1 px want zo vermijd je het gat tussen de deuren, 
  hierdoor overlappen we elkaar wel een beetje */
  width:calc(10em + 1px);
  height:25em;
  top:0;
  left:2em;
/* Docent geholpen van 184 tot 188 - met 184 zorgt ervoor dat 
die kant vast staat wanneer het element wordt gedraaid */
  transform-origin: left center;
  transition: 1s;
  transform-style: preserve-3d;
  display:grid;
  place-items: center;
}
.linkerdeurOpen{
  /* hoe de deur open gaat */
  transform: rotateY(-135deg) skewY(15deg);
}
/* binnenkant */
section:nth-of-type(3) div:nth-of-type(1){
  position:absolute;
  box-shadow: inset 0 0 0 2px black;
  width: 7.5em;
  height:20em;
  /* doordat de section een 3d transform style heeft, weet de section dat waneer 
  het wordt gedraaid dat de binnekant niet zichtbaar is als het eenmaal is gedraaid */
  backface-visibility: hidden;
}
/* bovenkant */
section:nth-of-type(3) div:nth-of-type(2) {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:.5em;
  transform-origin: center top;
  transform:rotateX(-90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* zijkant */
section:nth-of-type(3) div:nth-of-type(3) {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  width:.5em;
  transform-origin: right center;
  transform:rotateY(-90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* achterkant */
section:nth-of-type(3) div:nth-of-type(4) {
  position:absolute;
  inset:0;
  transform:translateZ(-.5em);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}



/* kast diepte */
section:nth-of-type(4){
  margin:0;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 20em;
  height:25em;
  top:0;
  left:2em;
}



/* planken */
section:nth-of-type(5) {
  margin:0;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 20em;
  height:25em;
  top:0;
  left:2em;
}
section:nth-of-type(5) ul {
  height:100%;
  margin:0;
  padding:0;
  list-style: none;
  /* background-color: #00f8; */
  display:flex;
  flex-direction: column;
}
section:nth-of-type(5) ul li {
  flex-grow:1;
  width: 100%;
  position:relative;
}
section:nth-of-type(5) ul li::after {
  content:"";
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:.8em;
}



section:nth-of-type(6) {
  z-index: 2;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width:calc(10em + 1px);
  height:25em;
  top:0;
  right:2em;
/* Docent geholpen van 274 tot 279 - met 271 zorgt ervoor dat 
die kant vast staat wanneer het element wordt gedraaid */
  transform-origin: right center;
  transition: 1s;
  transform-style: preserve-3d;
  display:grid;
  place-items: center;
}

.rechterdeurOpen{
  transform: rotateY(135deg) skewY(-15deg);
}


/* binnenkant */
section:nth-of-type(6) div:nth-of-type(1) {
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 7.5em;
  height:20em;
  backface-visibility: hidden;
}
/* bovenkant */
section:nth-of-type(6) div:nth-of-type(2) {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:.5em;
  transform-origin: center top;
  transform:rotateX(-90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* zijkant */
section:nth-of-type(6) div:nth-of-type(3) {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:.5em;
  transform-origin: left center;
  transform:rotateY(90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* achterkant */
section:nth-of-type(6) div:nth-of-type(4) {
  position:absolute;
  inset:0;
  transform:translateZ(-.5em);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}


/* deurklink */
section:nth-of-type(6) button{
  margin:0;
  padding:0;
  position: absolute;
  background-color:#ffc80b;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 50%;
  border: none;
  width:1.5em;
  height: 1.5em;
  bottom: 8em;
  left: .8em;
  backface-visibility: hidden;
}

section:nth-of-type(7){
  position: absolute;
  z-index: -1;
  margin: 0;
  background-image: url(../images/nijntjeverstopt.svg);
	background-repeat: no-repeat;
	background-size: contain;
  width:3em;
  height: 6em;
  top: 17em;
  right: -1.4em;
  animation: verstoppertje 6s ease-in forwards;
  animation-iteration-count: 2;
  transition: 2s;

}
section:nth-of-type(8){
  margin:0;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  z-index: 4;
  width:10em;
  height:8em; 
  top: 3em;
  right:-16em;
  border-radius: 2%;
}
/* pin 1 */
section:nth-of-type(8) div:nth-of-type(1){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1.5em;
  left: 1em;
}
/* pin 2 */
section:nth-of-type(8) div:nth-of-type(2){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1.5em;
  right: 1em;
}
/* introductietekst */
section:nth-of-type(8) div:nth-of-type(3){
  /* margin:0; */
  /* z-index: 5; */
  position: absolute;
  /* display: grid;
  justify-content: center;
  align-items: center; */
  top:2em;
  left: 2.5em;
  width: 50%;
  /* background-color: firebrick ; */
}
section:nth-of-type(8) div:nth-of-type(3) h4:last-of-type{
  /* section:nth-of-type(8) div:nth-of-type(3) h4 span:last-of-type */
  transform: rotate(180deg);
}


/* de boeken in de boekenkast */
section:nth-of-type(9) ul li {
  height:100%;
  margin:0;
  padding:0;
  list-style: none;
}
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) button{
  position: absolute;
  background-color: blue;
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 3em;
  top:1.15em; 
  left: 5em;
  border:none;
  padding: 0;
  margin:0;
}
/* boek gaat omhoog wanneer hover  */
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) button:hover{
  top:0em; 
  transition: .5s;
}

/* Wanneer je over het eerste boek hovert ontstaat er een tekstbalkje 
met tekst erin zodat je weet waar het boek over gaat */
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  left: calc(100% + .5em);
  /* left:2em; */
  box-shadow: 0 0 0 1px black;
  width: 10em;
  height: 1.5em;
  background-color: white;
  content: "geboorte van nijntje";
  font-family: Arial, Helvetica, sans-serif;
}

/* Doordat er display flex verschijnt boek wanneer er wordt geklikt op eerste boek.
Het boek is eerst display none, die hierna wordt display flex wordt */
main article.openEersteBoek {
  display: flex;
}

main article.openEersteBoekButton{
  display: none;
}
section:nth-of-type(9) li:nth-of-type(2) button{
  position: absolute;
  background-color: palevioletred;
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  top:6.65em; 
  left: 9em;
  border:none;
}
section:nth-of-type(9) li:nth-of-type(2) button:hover{
  top:6.15em; 
  transition: .5s;
}

article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(2) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  left: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  width: 8em;
  height: 1.5em;
  background-color: white;
  content: "boeken nijntje";
  font-family: Arial, Helvetica, sans-serif;
}

main article.openTweedeBoek {
  display: flex;
}
section:nth-of-type(9) li:nth-of-type(3) button{
  position: absolute;
  background-color: paleturquoise;
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  top:11.5em; 
  right: 7.5em;
  transform: rotate(15deg);
  border:none;
}
section:nth-of-type(9) li:nth-of-type(3) button:hover{
  transform: rotate(0deg) ;
  transition: 1.5s;
  top: 11.6em;
}
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(3) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  right: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  /* width: 8em;
  height: 1.5em; */
  width:8em;
  padding:.5em 1em.5em 1em;
  background-color: white;
  content: "nijntje of miffy";
  font-family: Arial, Helvetica, sans-serif;
}

main article.openDerdeBoek {
  display: flex;
}

section:nth-of-type(9) li:nth-of-type(4) button{
  position: absolute;
  background-color:crimson;
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  bottom:10.85em; 
  left: 12.5em;
  border:none;
}
section:nth-of-type(9) li:nth-of-type(4) button:hover{
  bottom:11.35em; 
  transition: .5s;
}

article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(4) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  right: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  /* width: 9em;
  height: 1.5em; */
  padding:.5em 1em.5em 1em;
  width:8em;
  background-color: white;
  content: "uiterlijk van nijntje";
  font-family: Arial, Helvetica, sans-serif;
}
main article.openVierdeBoek {
  display: flex;
}
section:nth-of-type(9) li:nth-of-type(5) button{
  position: absolute;
  background-color:cornflowerblue;
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  bottom:5.85em; 
  right: 5em;
  border:none;
}
section:nth-of-type(9) li:nth-of-type(5) button:hover{
  bottom:6.35em; 
  transition: .5s;
}
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(5) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  right: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  /* width: 10em; */
  /* height: 1.5em; */
  background-color: white;
  padding:.5em 1em.5em 1em;
  content: "wereldwijd beroemd";
  width:8em;
  font-family: Arial, Helvetica, sans-serif;
}
main article.openVijfdeBoek {
  display: flex;
}
section:nth-of-type(9) li:nth-of-type(6) button{
  position: absolute;
  background-color:salmon;
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  bottom: .9em; 
  left: 7em;
  transform: rotate(-15deg);
  border:none;
}

section:nth-of-type(9) li:nth-of-type(6) button:hover{
  transform: rotate(0deg) ;
  transition: 1.5s;
  /* bottom:1.9em; */
}
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(6) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  left: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  width: 8em;
  /* height: 1.5em; */
  padding:.5em 1em.5em 1em;
  background-color: white;
  content: "waarom nijntje zo geliefd";
  font-family: Arial, Helvetica, sans-serif;
}
main article.openZesdeBoek {
  display: flex;
}

section:nth-of-type(10){
  overflow: hidden; 
  display: block; 
  width: 100%; 
}

/* section:nth-of-type(10) div{
  position: absolute; 
  background-image: url(../images/nijntjekijken.svg);
  background-position: center;
  background-size:auto;
  width: 100px; 
  height: 150px; 
  right: -20em; 
  bottom: 0; 
  z-index: 10;
} */

/* Openboeken */
/* dit betekend allemaal hetzelfde behalve de eerste  */
article:nth-of-type(1n+2){
  position: absolute;
  z-index: 5;
  width: 80%;
  height: 80%;
  display: none;
  flex-direction: row;
  /* box-shadow: 0em 0em 1em #28242430; */
}

article:nth-of-type(1n +2) section {
  background-color: white;
  width: 50%;
  height: 100%;
}

article:nth-of-type(1n +2) section:nth-of-type(odd) {
border-right: .1em solid black;
}


article:nth-of-type(2){
  position: absolute;
  z-index: 5;
  width: 65%;
  height: 80%;
  display: none;
  flex-direction: row;
  outline: #00712a solid 5px;
  /* box-shadow: 0em 0em 1em #28242430; */
}

article:nth-of-type(2) section:nth-of-type(1) {
  background-color: white;
  width: 50%;
  /* opacity: 0; */
  height: 100%;
  /* transform-origin: right center;
  transition: 1s;
  transform-style: preserve-3d;
  animation: 1s eersteboekopenklaplinks .5s forwards; */
}

article:nth-of-type(2) section:nth-of-type(2){
  background-color: coral;
  /* opacity: 0; */
  width: 50%;
  height: 100%;
  /* transform-origin: left center;
  transition: 1s;
  transform-style: preserve-3d;
  animation: 1s eersteboekopenklaprechts .5s forwards; */
}

/* bladzijdeflip op linkerpagina */
article:nth-of-type(2) section:nth-of-type(1) button:nth-of-type(1){
  position: absolute;
  border: none;
  width: 4em;
  height: 4em;
  background-image: url(../images/bladzijdeflipterug.png);
  background-size: cover;
  background-color: #00712a;
  /* top:0%;
  left: 0%; */
  /* border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: #00712a #00712a transparent #00712a; */
}
/* afbeelding op linkerpagina*/
article:nth-of-type(2) section:nth-of-type(1) div:nth-of-type(1){
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top:3em;
  background-color: white;
  background-image: url(../images/favicon.svg);
  background-position: center;
  background-size: cover;
  left:7.5%;
  width: 35%;
  height: 65%;
}

/* tekst op de linkerpagina. */
article:nth-of-type(2) section:nth-of-type(1) div:nth-of-type(1) p{
  position: absolute;
  top: calc(100% + 2em);
  /* right: 15%; */
  background-color: seagreen;
  text-align: center;
  /* right:7.5%;
  width: 35%;
  height: 65%; */
}

/* bladzijdeflip op rechterpagina */
article:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(1){
  position: absolute;
  bottom:0;
  right:0em;
  border: none;
  border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: #00712a  #00712a #00712a transparent;
}
/* afbeelding op rechterpagina */
article:nth-of-type(2) section:nth-of-type(2) div:nth-of-type(1){
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top:3em;
  background-color: white;
  background-image: url(../images/favicon.svg);
  background-position: center;
  background-size: cover;
  right:7.5%;
  width: 35%;
  height: 65%;
}

/* tekst op de rechterpagina. */
article:nth-of-type(2) section:nth-of-type(2) div:nth-of-type(1) p{
  position: absolute;
  top: calc(100% + 2em);
  /* right: 15%;
  left:15%; */
  text-align: center;
  background-color: seagreen;
  /* right:7.5%;
  width: 35%;
  height: 65%; */
}

@keyframes verstoppertje{
  0% {transform: translateX(-1.5em); }
  70% {transform: translateX(1em); }
  90% {transform: translateX(.8em); }
  /* 90% {transform: translateX(-3em);} */
  100% {transform: translateX(-1.5em); }
}

/* @keyframes boek1 {
0% {transform: translateY(0);}
0% {transform: translateY(-.5em);}
} */

@keyframes eersteboekopenklaprechts {
  0% {opacity: 0;transform: translateX(-1%) rotateY(45deg);}
  100% {opacity: 1;transform: translateX(0%); }
}

@keyframes eersteboekopenklaplinks {
  0% {opacity: 0;transform: translateX(-1%) rotateY(45deg);}
  100% {opacity: 1;transform: translateX(0%); }
}











/* button{
  content:"";
  margin:0;
  position: absolute;
  border-radius: 100%;
  background-color:#ffc80b;
  outline: 2px solid black;
  width:5em;
  height: 5em;
  top: 18em;
  right: 12.3em;
} */


/* li {
  background: pink;
  position: absolute;
  
}

li:nth-of-type(2) {
  background: powderblue;
}

li:nth-of-type(3) {
  background: purple;
}

li:nth-of-type(4) {
  background: royalblue;
}
li:nth-of-type(5) {
  background: palevioletred;
}

li:last-of-type {
  background: crimson;
} */
/* ... */


