@font-face {
  font-family: 'titel';
  src: url('../fonts/helvetica_rounded_bold-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'body';
  src: url('../fonts/helveticaneue_lt_55_roman_regular-webfont.woff') format('woff');
  src: url('../fonts/helveticaneue_lt_55_roman_regular-webfont.woff2') format('woff2');
  /* font-style: normal; */
}

/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box; 
  margin:0;
  padding:0;
}

body {
  height: 100%; 
  width: 100%; 
  padding:0;
  margin:0;
  overflow: hidden; 
  display:grid;
  place-items:center center;
  background-color: #ffc80b;
}

button:not([disabled]) {
  cursor:pointer;
}

button {
  padding:0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --titel-font:'titel';
  --body-font: 'body';
}


/********************/
/* ALGEMENE STYLING */
/********************/

h4 {
  /* color:var(--color-headings); */
  font-family: var(--titel-font);
}



p{
  /* font-family: 'titel'; */
  font-family: var(--body-font);
  font-size: 12px;
}
/* header h1{
  margin-top: 2em;
} */
main {
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position: relative;
  margin:0;
  width: 100%;
}

article:first-of-type {
  width:24em;
  height:25em;
  top:2em;
  background-color: #00712a;
  /* border: 2px solid black; */
  box-shadow: inset 0 0 0 2px black;
  position: relative;
}

article:first-of-type section:nth-of-type(1) {
  position: absolute;
  bottom:calc(100% - 2px);
  left:0;
  width:100%;
}

section:nth-of-type(1) ul{
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction: column;
  align-items:center;
}

section:nth-of-type(1) ul li:first-of-type{
  width: 26em;
  height: 1em;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
}

section:nth-of-type(1) ul li:last-of-type{
  width: 25em;
  height:1.5em;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  margin-top:-2px;
}

/* kastonder */
article:first-of-type section:nth-of-type(2) {
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  /* kast onder zit tegen article aan met min 2 px vanwege de box schadow */
  top: calc(100% - 2px);
  left: -.5em;
  width: 25em;
  height:1.5em;
}

/* deur links */
section:nth-of-type(3){
  z-index: 2;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  /* de breedte van de deur plus 1 px want zo vermijd je het gat tussen de deuren, 
  hierdoor overlappen we elkaar wel een beetje */
  width:calc(10em + 1px);
  height:25em;
  top:0;
  left:2em;
/* Docent geholpen van 184 tot 188 - met 184 zorgt ervoor dat 
die kant vast staat wanneer het element wordt gedraaid */
  transform-origin: left center;
  transition: 1s;
  transform-style: preserve-3d;
  display:grid;
  place-items: center;
}
.linkerdeurOpen{
  /* hoe de deur open gaat */
  transform: rotateY(-135deg) skewY(15deg);
}
/* binnenkant */
section:nth-of-type(3) div:nth-of-type(1){
  position:absolute;
  box-shadow: inset 0 0 0 2px black;
  width: 7.5em;
  height:20em;
  /* doordat de section een 3d transform style heeft, weet de section dat waneer 
  het wordt gedraaid dat de binnekant niet zichtbaar is als het eenmaal is gedraaid */
  backface-visibility: hidden;
}
/* bovenkant */
section:nth-of-type(3) div:nth-of-type(2) {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:.5em;
  transform-origin: center top;
  transform:rotateX(-90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* zijkant */
section:nth-of-type(3) div:nth-of-type(3) {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  width:.5em;
  transform-origin: right center;
  transform:rotateY(-90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* De ahterkant van linkerdeur */
section:nth-of-type(3) div:nth-of-type(4) {
  position:absolute;
  inset:0;
  transform:translateZ(-.5em);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}

/* De diepte van de boekenkast */
section:nth-of-type(4){
  margin:0;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 20em;
  height:25em;
  top:0;
  left:2em;
}

/* De planken van de boekenkast */
section:nth-of-type(5) {
  margin:0;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 20em;
  height:25em;
  top:0;
  left:2em;
}
section:nth-of-type(5) ul {
  height:100%;
  margin:0;
  padding:0;
  list-style: none;
  display:flex;
  flex-direction: column;
}
section:nth-of-type(5) ul li {
  flex-grow:1;
  width: 100%;
  position:relative;
}
section:nth-of-type(5) ul li::after {
  content:"";
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:.8em;
}

/* De rechterdeur van de boekenkast */
section:nth-of-type(6) {
  z-index: 2;
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width:calc(10em + 1px);
  height:25em;
  top:0;
  right:2em;
/* Docent geholpen van 274 tot 279 - met 271 zorgt ervoor dat 
die kant vast staat wanneer het element wordt gedraaid */
  transform-origin: right center;
  transition: 1s;
  transform-style: preserve-3d;
  display:grid;
  place-items: center;
}
/* Hoe de en dat de rechterdeur open gaat */
section:nth-of-type(6).rechterdeurOpen{
  transform: rotateY(135deg) skewY(-15deg);
}
/* De binnenkant van de rechterdeur */
section:nth-of-type(6) div:nth-of-type(1) {
  position: absolute;
  background-color: #00712a;
  box-shadow: inset 0 0 0 2px black;
  width: 7.5em;
  height:20em;
  backface-visibility: hidden;
}
/* De bovenkant van de rechterdeur*/
section:nth-of-type(6) div:nth-of-type(2) {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:.5em;
  transform-origin: center top;
  transform:rotateX(-90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* De zijkant van de rechterdeur */
section:nth-of-type(6) div:nth-of-type(3) {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:.5em;
  transform-origin: left center;
  transform:rotateY(90deg);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* De achterkant van de rechterdeur*/
section:nth-of-type(6) div:nth-of-type(4) {
  position:absolute;
  inset:0;
  transform:translateZ(-.5em);
  background-color: #00712a;
  box-shadow: inset 0 0 0 1px black;
}
/* De deurklink die op de rechter deur zit*/
section:nth-of-type(6) button{
  position: absolute;
  background: none;
  border-radius: 50%;
  border: none;
  width:1.5em;
  height: 1.5em;
  bottom: 8em;
  left: .8em;
  backface-visibility: hidden;
  /* animation: klikopmijopenkast 4s 2 forwards; */
  /* filter: drop-shadow(0 0 1em white); */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

section:nth-of-type(6) button::before{
  content: "";
  position: absolute;
  /* background-color: aqua; */
  background-color:#ffc80b;
  box-shadow: inset 0 0 0 2px black;
  inset:0; 
  border-radius: 50%;
  /* filter: drop-shadow(0 0 1em white); */
  animation: klikopmijopenkast 2s infinite;
  
}

/* Wanneer je over de deurklink hovert krijg je tekst te zien zovan CTA klik op de deur */
section:nth-of-type(6) button:hover::after{
  content: "nieuwsgierig geraakt? neem een kijkje in de boeken van nijntje's kast ";
  font-family: var(--body-font);
  position: absolute;
  background-color: white;
  bottom: calc(100% + .5em); 
  left: calc(100% + .5em);
  /* left:2em; */
  box-shadow: 0 0 0 1px black;
  width: 12em;
  /* height: 1.5em; */
  padding:1em;
  /* filter: drop-shadow(0 0 1em ); */

}



/* nijntje die achter de kast tervoorschijnkomt */
section:nth-of-type(7){
  position: absolute;
  z-index: -1;
  margin: 0;
  background-image: url(../images/nijntjeachterkast.png);
	background-repeat: no-repeat;
	background-size: contain;
  width:7em;
  height: 15em;
  top: 13em;
  right: -3.2em;
  animation: verstoppertje 5s ease-in forwards;
  animation-iteration-count: 2;
  transition: 2s; 
} 



section:nth-of-type(8){
  margin:0;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  z-index: 4;
  width:10em;
  height:9em; 
  top: 3em;
  right:-16em;
  border-radius: 2%;
}
/* pin 1 */
section:nth-of-type(8) div:nth-of-type(1){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1.5em;
  left: 1em;
}
/* pin 2 */
section:nth-of-type(8) div:nth-of-type(2){
  margin:0;
  z-index: 5;
  position: absolute;
  border-radius: 50%;
  width: .3em;
  height: .3em;
  background-color: black;
  top:1.5em;
  right: 1em;
}
/* De introductietekst */
section:nth-of-type(8) div:nth-of-type(3){
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  top:2em;
  left: 25%;
  text-align: center;
  width: 50%;
  /* background-color: firebrick ; */
}
section:nth-of-type(8) div:nth-of-type(3) h1 {
  font-size: 1.1em;
}
/* Introductietekst waar de naam 'nijntje' omgedraaid is vergeleken   */
section:nth-of-type(8) div:nth-of-type(3) h1 span{
  display:inline-block;
  transform: rotate(180deg);
  padding-bottom: .3em;
  /* font-size: 1.2em; */
  /* background-color: aqua; */
}


/* De boeken in de boekenkast */
section:nth-of-type(9) ul li {
  height:100%;
  margin:0;
  padding:0;
  list-style: none;
}
/* Het eerste boek op eerrste plank */
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) button{
  position: absolute;
  background-color: blue;
  /* background-color: #F36527; */
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 3em;
  top:1.15em; 
  left: 5em;
  border:none;
  /* padding: 0;
  margin:0; */
}
/* Het eerste boek gaat omhoog en wordt groter wanneer hover  */
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) button:hover{
  top:0em; 
  transition: .5s;
  transform: scale(1.2);
}

/* Wanneer je over het eerste boek hovert ontstaat er een tekstbalkje 
met tekst erin zodat je weet waar het boek over gaat */
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  left: calc(100% + .5em);
  /* left:2em; */
  box-shadow: 0 0 0 1px black;
  padding:.5em 1em.5em 1em;
  width:8em;
  /* height: 1.5em; */
  background-color: white;
  content: "geboorte van nijntje";
  font-family: var(--body-font);
}
/* Doordat er display flex verschijnt boek wanneer er wordt geklikt op eerste boek.
Het boek is eerst display none, die hierna wordt display flex wordt */
main article.openEersteBoek {
  display: flex;
}
/* Wanneer je op de eerste open boek zit en terug wilt gaat naar de boekenkast */
main article.openEersteBoekButton{
  display: none;
}

/* Jurk in de boekenkast op de eerste plank */
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) img:nth-of-type(1) {
  position: absolute;
  width: 3em;
  height: 3.5em;
  right:4em;
  top:.4em
}

article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(1) img:nth-of-type(2) {
  position: absolute;
  width: 3em;
  height: 3em;
  right: 7em;
  top:.5em;
  /* animation: strandbalrolt 3s 1;
  animation-delay: 4s;
  animation-fill-mode: forwards; */
}



/* Wanneer je op de eerste open boek staat en naar de volgende bladzijde wilt gaan */
main article.openEersteBoekButtonVolg{
  display:flex;
}
/* Wanneer je op de eerste open boek zit en terug wilt gaat naar de boekenkast */
main article.openEersteBoekButton{
  display: none;
}
/* Het tweede boek op de tweede plank */
section:nth-of-type(9) li:nth-of-type(2) button{
  position: absolute;
  background-color: palevioletred;
  /* background-color: #F36527; */
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  top:6.65em; 
  left: 9em;
  border:none;
}
/* Het tweede boek gaat omhoog en wordt groter wanneer hover  */
section:nth-of-type(9) li:nth-of-type(2) button:hover{
  top:6.15em; 
  transition: .5s;
  transform: scale(1.2);
}

article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(2) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  left: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  width: 8em;
  /* height: 1.5em; */
  padding:.5em 1em.5em 1em;
  background-color: white;
  content: "boeken nijntje";
  font-family: var(--body-font);
}

main article.openTweedeBoek {
  display: flex;
}

article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(2) img {
  position: absolute;
  width: 3em;
  height: 3em;
  left:3em;
  top:4.5em
}




section:nth-of-type(9) li:nth-of-type(3) button{
  position: absolute;
  /* background-color: paleturquoise; */
  background-color: #F36527;
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  top:11.5em; 
  right: 7.5em;
  transform: rotate(15deg);
  border:none;
}
/* Het derde boek gaat omhoog, wordt groter en gaat schuin zodat het weer recht gepositioneerd  iswanneer hover  */
section:nth-of-type(9) li:nth-of-type(3) button:hover{
  transform: rotate(0deg) ;
  transition: 1.5s;
  top: 11.6em;
  transform: scale(1.2);
}
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(3) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  right: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  /* width: 8em;
  height: 1.5em; */
  width:8em;
  padding:.5em 1em.5em 1em;
  background-color: white;
  content: "nijntje of miffy";
  font-family: var(--body-font);
}

main article.openDerdeBoek {
  display: flex;
}

section:nth-of-type(9) li:nth-of-type(4) button{
  position: absolute;
  background-color:crimson;
  /* background-color: #F36527; */
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  bottom:10.85em; 
  left: 13.5em;
  border:none;
}
/* Het vierde boek gaat omhoog en wordt groter wanneer hover  */
section:nth-of-type(9) li:nth-of-type(4) button:hover{
  bottom:11.35em; 
  transition: .5s;
  transform: scale(1.2);
}

article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(4) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  right: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  /* width: 9em;
  height: 1.5em; */
  padding:.5em 1em.5em 1em;
  width:8em;
  background-color: white;
  content: "uiterlijk van nijntje";
  font-family: var(--body-font);
}
main article.openVierdeBoek {
  display: flex;
}
section:nth-of-type(9) li:nth-of-type(5) button{
  position: absolute;
  background-color:cornflowerblue;
  /* background-color: #F36527; */
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  bottom:5.85em; 
  right: 5em;
  border:none;
}
section:nth-of-type(9) li:nth-of-type(5) button:hover{
  bottom:6.35em; 
  transition: .5s;
  transform: scale(1.2);
}
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(5) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  right: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  /* width: 10em; */
  /* height: 1.5em; */
  background-color: white;
  padding:.5em 1em .5em 1em;
  content: "wereldwijd beroemd";
  width:8em;
  font-family: var(--body-font);
}
main article.openVijfdeBoek {
  display: flex;
}

/* Boek button zes  */
section:nth-of-type(9) li:nth-of-type(6) button{
  position: absolute;
  background-color:salmon;
  /* background-color: #F36527; */
  box-shadow: inset 0 0 0 2px black;
  width: 1em;
  height: 2.5em;
  bottom: .9em; 
  left: 7em;
  transform: rotate(-15deg);
  border:none;
}

/* Het zesde boek gaat omhoog, wordt groter en gaat draaien zodat ie weer recht gepositioneerd is wanneer hover  */
section:nth-of-type(9) li:nth-of-type(6) button:hover{
  transform: rotate(0deg) ;
  transition: 1.5s;
  transform: scale(1.2);
  /* bottom:1.9em; */
}
article:nth-of-type(1) section:nth-of-type(9) li:nth-of-type(6) button:hover::before{
  position: absolute;
  bottom: calc(100% + .5em); 
  left: calc(100% + .5em);
  box-shadow: 0 0 0 1px black;
  width: 8em;
  /* height: 1.5em; */
  padding:.5em 1em.5em 1em;
  background-color: white;
  content: "waarom nijntje zo geliefd";
  font-family: var(--body-font);
}
main article.openZesdeBoek {
  display: flex;
}

/* kijjken of het lukt om naar de volgende blazijde te gaan wanneer die op een open bladzijde zit */
main article.openEersteBoekButtonVolg{
  display: flex;
}

/* section:nth-of-type(10){
  overflow: hidden; 
  display: block; 
  width: 100%; 
}

section:nth-of-type(10) div{
  position: absolute; 
  background-image: url(../images/nijntjekijken.svg);
  background-position: center;
  background-size:auto;
  width: 100px; 
  height: 150px; 
  right: -20em; 
  bottom: 0; 
  z-index: 10;
} */

/* Openboeken */
/* dit betekend allemaal hetzelfde behalve de eerste  */
article:nth-of-type(1n+2){
  position: absolute;
  z-index: 5;
  width: 80%;
  height: 80%;
  display: none;
  flex-direction: row;
  outline: #F36527 solid .25em;
  /* box-shadow: 0em 0em 1em #28242430; */
}

article:nth-of-type(1n+2) section:nth-of-type(1) button:nth-of-type(1) img{
  position: absolute;
  border: none;
  width: 6em;
  height: 6em;
  background-color: #F36527;
  top:0;
  left: 0;
}
article:nth-of-type(1n +2) section {
  background-color: white;
  width: 50%;
  height: 100%;
}

article:nth-of-type(1n +2) section:nth-of-type(odd) {
border-right:.1em solid black;
/* filter:blur(25px); */
/* box-shadow: 10px 0px 0px #F36527; */
}


/* Het eerste openboek */
article:nth-of-type(2){
  position: absolute;
  background-color: white;
  z-index: 5;
  width: 65%;
  height: 80%;
  display: none;
  flex-direction: row;
  /* outline: #F36527 solid .25em; */
  /* border-right: 5em solid black; */
  /* box-shadow: 0em 0em 1em #28242430; */
}
article:nth-of-type(2) section:nth-of-type(1) {
  /* background-color: white; */
  width: 50%;
  height: 100%;
  /* border-right: 5em solid black; */
  /* transform-origin: right center;
  transition: 1s;
  transform-style: preserve-3d;
  animation: 1s eersteboekopenklaplinks .5s forwards; */
}

article:nth-of-type(2) section:nth-of-type(2){
  /* background-color: coral; */
  /* opacity: 0; */
  width: 50%;
  height: 100%;
  /* transform-origin: left center;
  transition: 1s;
  transform-style: preserve-3d;
  animation: 1s eersteboekopenklaprechts .5s forwards; */
}

/* bladzijdeflip op linkerpagina */
article:nth-of-type(2) section:nth-of-type(1) button:nth-of-type(1) img{
  position: absolute;
  border: none;
  width: 6em;
  height: 6em;
  /* background-image: url(../images/bladzijdeflipterug.png);
  background-size: cover; */
  background-color: #F36527;
  top:0;
  left: 0;
  /* border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: #00712a #00712a transparent #00712a; */
}

/* geen randje bij button met afbeelding erin */
article:nth-of-type(2) section:nth-of-type(1) button:nth-of-type(1):focus{
  outline: none;
}



/* afbeelding op linkerpagina*/
article:nth-of-type(2) section:nth-of-type(1) div:nth-of-type(1){
  display: flex;
  justify-content: center;
  position: absolute;
  /* margin-top:3em; */
  /* bottom: calc(100% + 2em); */
  top:5em;
  background-color: white;
  background-image: url(../images/eersteboekafblinks.png);
  background-position: center;
  background-size: cover;
  left:10%;
  width: 30%;
  height: 55%;
  /* height: 25em;
  width:17.5em; */
}

/* tekst op de linkerpagina. */
article:nth-of-type(2) section:nth-of-type(1) div:nth-of-type(1) p{
  position: absolute;
  top: calc(100% + 3em);
  /* right: 15%; */
  width:80%;
  /* background-color: seagreen; */
  /* align-items: center; */
  text-align: center;
  /* right:7.5%;
  width: 35%;
  height: 65%; */
}

/* bladzijdeflip op rechterpagina */
/* article:nth-of-type(2) section:nth-of-type(2) button:nth-of-type(1){
  position: absolute;
  bottom:0;
  right:0em;
  border: none;
  border-style: solid;
  border-width: 0 0 5em 5em;
  border-color: #F36527 #F36527 #F36527 transparent;
} */
/* afbeelding op rechterpagina */
article:nth-of-type(2) section:nth-of-type(2) div:nth-of-type(1){
  display: flex;
  justify-content: center;
  position: absolute;
  top:5em;
  background-color: white;
  background-image: url(../images/eersteboekafbrechts.png);
  background-position: center;
  /* background-size: contain;
  right:10%; */
  /* width: 35%;
  height: 65%; */
  /* height: 22.5em;
  width:17.5em; */
  /* width: 30%;
  height: 60%; */
  background-size: cover;
  right:10%;
  width: 30%;
  height: 55%;
  font-family: var(--body-font);
}

/* tekst op de rechterpagina. */
article:nth-of-type(2) section:nth-of-type(2) div:nth-of-type(1) p{
  position: absolute;
  top: calc(100% + 3em);
  /* right: 15%;
  left:15%; */
  width:90%;
  text-align: center;
  /* background-color: seagreen; */
  /* right:7.5%;
  width: 35%;
  height: 65%; */
  font-family: var(--body-font);
}


article:nth-of-type(3) section:nth-of-type(2){
  /* background-color: coral; */
  /* opacity: 0; */
  background-color: #00497A;
  width: 50%;
  height: 100%;
  /* transform-origin: left center;
  transition: 1s;
  transform-style: preserve-3d;
  animation: 1s eersteboekopenklaprechts .5s forwards; */
}

article:nth-of-type(3) section:nth-of-type(1) button:nth-of-type(1) img{
  position: absolute;
  border: none;
  width: 6em;
  height: 6em;
  /* background-image: url(../images/bladzijdeflipterug.png);
  background-size: cover; */
  background-color: #F36527;
  top:0;
  left: 0;
  /* border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: #00712a #00712a transparent #00712a; */
}

article:nth-of-type(3) section:nth-of-type(2) div:nth-of-type(1) img{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  top:5em;
  /* left:75%; */
  right:7.5em;
  /* left: 75%; */
  width:20em;
  height:25em;
}




/* Testen of die naar de volgende bladzijde kan gaan, dit is een extra article */
article:nth-of-type(8){
  position: absolute;
  background-color: black;
  z-index: 5;
  width: 65%;
  height: 80%;
  display: none;
  flex-direction: row;
  outline: #00712a solid 5px;
  /* box-shadow: 0em 0em 1em #28242430; */
}

article:nth-of-type(8) section:nth-of-type(1) button:nth-of-type(1){
  position: absolute;
  border: none;
  width: 6em;
  height: 6em;
  background-image: url(../images/bladzijdeflipterug.png);
  background-size: cover;
  background-color: #00712a;
  top:0%;
  left: 0%;
  /* border-style: solid;
  border-width: 0 0 50px 50px;
  border-color: #00712a #00712a transparent #00712a; */
  
}


/* article:nth-of-type() section:nth-of-type(2) div:nth-of-type(1){
  display: flex;
  justify-content: center;
  position: absolute;
  top:5em;
  background-image: url(../images/tweedeboekafbrechts.png);
  background-position: center;
  background-size: contain;
  background-size: cover;
  right:10%;
  width: 30%;
  height: 60%;
  font-family: var(--body-font);
} */



/* Verstoppertje beweging  */
@keyframes verstoppertje{
  0% {transform: translateX(-1.8em); }
  70% {transform: translateX(.9em); }
  90% {transform: translateX(.8em); }
  /* 90% {transform: translateX(-3em);} */
  100% {transform: translateX(-1.8em); }
}

/* Boek op de --plank wordt eruit gehaald */
@keyframes eersteboekopenklaprechts {
  0% {opacity: 0;transform: translateX(-1%) rotateY(45deg);}
  100% {opacity: 1;transform: translateX(0%); }
}

@keyframes eersteboekopenklaplinks {
  0% {opacity: 0;transform: translateX(-1%) rotateY(45deg);}
  100% {opacity: 1;transform: translateX(0%); }
}

/* Animatie voor de deurklink zodat de gebruikers weten klik op de klink zodat deur open */
@keyframes klikopmijopenkast {
  0% {transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 198, 11, 0.7);}
  /* 25% {transform: scale(1.6);} */
  /* 50% {transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);} */
  75% {transform: scale(1.5);
    box-shadow: 0 0 0 10px rgba(255, 198, 11, 0);}
  100% {transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 198, 11, 0)}
}

@keyframes strandbalrolt {
0% {transform: translateX(0);}
100% {transform: translateX(5em) translateY(15em) rotate(360deg);}
}




/* @keyframes pulsedeurknop {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
} */


